#camera{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;

}

#camera--trigger{

    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 10%;
}

#audio{
  position: fixed;
  width: 50%;
  bottom: 0%;

}

/* CAMERA */
.taken, #camera--output {
    height: 100px !important;
    width: 100px !important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    z-index: 2;
}


#camera--output {
    visibility: hidden;
}

#btnWrp{
    display: flex;
    justify-content: center;
    align-items: center;
}