a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background-image: radial-gradient(rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #000, #000 2px, #111 3px);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover, 100% 3px;
  font-size: calc(10px + 2vw);
  font-family: "VT323", monospace, sans-serif;
  color: #3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


main {
    width: 100%;
    height: auto;
    position: absolute;  /*F�r att allt inte ska hoppa ned om dynamiskt text sl�ngs in*/
    top:0;
}

input[type=text] {
  border-radius: 4px;
  padding: 8px;
  border: 1px solid royalblue;
  
}

button, input[type=button], input[type=submit], a.button {
  border: none;
  border-radius: 4px;
  padding: 8px;
  
  background-color: royalblue;
  color: white;
  box-shadow: 1px 1px 0px #999,
    2px 2px 0px #999,
    3px 2px 0px #999,
    4px 4px 0px #999,
    5px 5px 0px #999;
}

.devhelper {
  position: absolute;
  top: 8px;
  left: 8px;
}

.devhelper-tags {
  position: absolute;
  top: 8px;
  left: 8px;
}

#text {
    width: 40%;
    text-align: justify;
}

.audioWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hearingImpaired {
    margin-top: 100px;
    text-align: center;
}


/* QR SCANNER */
.qr-scanner-area, #reader {
    width: 500px;
}

#hearingImpBtn {
    border: 2px solid #383838;
    border-radius: 30px;
    background: none;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    margin: 10px;
    color: #383838
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    opacity: 0.7;
    transform: scale(1.05);
}


h1 {
    color: black;
    margin: 0;
    padding: 15px;
}
  
#container {
  text-align: center;
  margin-top: 100px;
}

#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 400px;
}

#btn-scan-qr {
  cursor: pointer;
}

#btn-scan-qr img {
  height: 10em;
  padding: 15px;
  padding-bottom: 0;
  margin: 15px;
  background:transparent;
  border: 3px solid black;
  border-radius: 5px;
}

#openScanner {
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 20.5px;
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: white;
}
  

#svårighetsgrad{
  background-color:pink;
  box-shadow: 1px 1px 0px #999,
    2px 2px 0px #999,
    3px 2px 0px #999,
    4px 4px 0px #999,
    5px 5px 0px #999;
}

/* STYLE FOR TRANSITIONS */
.transition-in {
  transform-origin: top left;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 50000ms;
}

.transition-in-start {
  opacity: 0;
  transform: scale(0.9);
}

.transition-in-stop {
  opacity: 100;
  transform: scale(1);
}

.transition-out {
  transform-origin: top left;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 2000ms;
}

.transition-out-start {
  opacity: 100;
  transform: scale(1);
}

.transition-out-stop {
  opacity: 0;
  transform: scale(0.9);
}
