html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* body
{
  display: flex;
  justify-content: center;
} */

.welcome image, #starta {
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center;
}

.wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.audioWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* CAMERA */
#camera {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#camera--view, #camera--sensor, #camera--output {
      transform: scaleX(-1);
      filter: FlipH;
}

#camera--trigger {
      width: 200px;
      background-color: black;
      color: white;
      font-size: 16px;
      border-radius: 30px;
      border: none;
      padding: 15px 20px;
      text-align: center;
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
      position: fixed;
      bottom: 10%;
}

.taken, #camera--output {
    height: 100px !important;
    width: 100px !important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    z-index: 2;
}

#camera--output {
    visibility: hidden;
}

#btnWrp {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* QR SCANNER */
.qr-scanner-area, #reader {
    width: 500px;
}

/* BUTTONS */
.playpause {
    border: 4px solid #d343b4;
	border-radius: 30px;
	background: none;
	padding: 10px 20px;
	font-size: 38px;
	font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	cursor: pointer;
	margin: 10px;
	width: 150px;
    transition: 0.5s;
    color:#d343b4
}

.playBtn {
    border: 4px solid #d343b4;
    border-radius: 30px;
    background: none;
    padding: 10px 20px;
    font-size: 38px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    margin: 10px;
    width: 150px;
    transition: 0.5s;
    color: #d343b4
}

/* QR CODE SCANNER */
/* html {
    height: 100%;
  }
  
  body {
    font-family: sans-serif;
    padding: 0 10px;
    height: 100%;
    background: black;
    margin: 0;
  } */
h1 {
    color: black;
    margin: 0;
    padding: 15px;
}
  
  #container {
    text-align: center;
    margin: 0;
  }
  
  #qr-canvas {
    margin: auto;
    width: calc(100% - 20px);
    max-width: 400px;
  }
  
  #btn-scan-qr {
    cursor: pointer;
  }
  
  #btn-scan-qr img {
    height: 10em;
    padding: 15px;
    margin: 15px;
    background: white;
  }
  
  #qr-result {
    font-size: 1.2em;
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    background-color: white;
  }
  